.App {
  text-align: center;
}

.title {
  margin-top: 3rem;
  text-align: center;
  color: #42006d;
  font-size: 2em;
  margin-bottom: 20px;
}

.greeting {
  margin-top: 1rem;
  text-align: center;
  color: #6b10a8;
  font-size: 1.5em;
  margin-bottom: 20px;
}
